---
interface Props {
	description: string;
	title: string;
	href: string;
}

const { href, title, description } = Astro.props;
---

<div class="border px-4 py-2 w-full bg-[#252739] border-[#c0a1f0] rounded-md">
	<a href={href}>
		<h2 class="text-lg font-600">
			{description}
		</h2>
		<p class="text-sm">
			{title}
		</p>
	</a>
</div>
