---
import "@unocss/reset/tailwind.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icons -->
    <link rel="alternate icon" href="/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/src/assets/logo.svg" sizes="any">

    <!-- Primary Meta -->
    <title>Links / Mikkel ALMONTE--RINGAUD : Vexcited</title>
    <meta name="title" content="Links / Mikkel ALMONTE--RINGAUD : Vexcited">
    <meta name="description" content="Linktree to find easily each of my socials.">
    <link rel="canonical" href="https://links.vexcited.com/">

    <!-- OG / Facebook Meta -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://links.vexcited.com/">
    <meta property="og:title" content="Links / Mikkel ALMONTE--RINGAUD : Vexcited">
    <meta property="og:description" content="Linktree to find easily each of my socials.">
    <meta property="og:image" content="/banner.png">

    <!-- Twitter Meta -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://links.vexcited.com/">
    <meta property="twitter:title" content="Links / Mikkel ALMONTE--RINGAUD : Vexcited">
    <meta property="twitter:description" content="Linktree to find easily each of my socials.">
    <meta property="twitter:image" content="/banner.png">

    <!-- App -->
    <link rel="apple-touch-icon" href="/logo.png">
    <meta name="theme-color" content="#2E3440">

		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>
